@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #20262E;
    --blue-color: #AEE2FF;
    --nav-red-color: #F48484;
    --primary-gray-color: #EEEEEE;
}

body {
    /* padding: 0 70px 0 70px; */
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

/* top - header Section  */
.top-header {
    display: flex;
    justify-content: space-around;
    background-color: var(--blue-color);
    padding: 17px;
}

.top-header p{
    display: inline;
    color: var(--primary-text-color);
    /* margin-left: 30px; */
}

/* Header - Section */

.header {
    display: flex;
    justify-content: center;
    background-color: var(--primary-gray-color);
    align-items: center;
    background: url("./images/props.png");
}

.header img {
    margin: 40px 0 40px 0;
}

/* Nav-Bar - Section */

.navbar {
    background-color: var(--nav-red-color);
    display: flex;
    justify-content: space-around;
    padding: 17px;
}

/* .navbar .nav-items {
    
} */

.navbar .nav-items li{
    display: inline-block;
}

.navbar .nav-items li a{
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: bold;
    margin: 17px;
}

.social p {
    display: inline;
}

/* Home - Section */
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    background-image: url("./images/Layer_20.png");
    background-repeat: no-repeat;
    padding: 20px;
    background-color: var(--primary-gray-color);
}

.home-left {
    max-width: 55%;
}

.home-left h1{
   display: inline-block;
   max-width: 73%;
   margin-bottom: 10px;
}

.home p{
    margin-top: 10px;
    display: inline-block;
}

.home-right img{
    height: 500px;
    width: auto;
}

/* About - Section */
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* text-align: center; */
    padding: 50px;
}

.about-left{
    position: relative;
    /* margin-right: 20px; */
    max-width: 65%;
    padding-left: 12%;
    margin-bottom: 20px;
}

.about .about-left img{
    position: absolute;
    top: -25px;
    left: 140px;
    z-index: -1;
    height: 30%;
}

.about .about-left h1{
    /* display: inline-block; */
    margin-bottom: 40px;
    color: var(--primary-text-color);
}

.about .about-left p {
    display: inline-block;
    max-width: auto;
    color: gray;
}

.about .about-left a{
    color: red;
}


.about .about-right{
    /* text-align: center; */
    height: auto;
    max-width: 40%;
}

.about .about-right img{
    height: 400px;
    width: 100%;
}

/* Products - Sections */
.products {
    padding: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* max-height: 200px; */
    background-color: var(--primary-gray-color);
}

.prod-img {
    text-align: center;
    margin-right: 25px;
}

.prod-img img{
    border-radius: 50%;
  /* Optional: You can also set a border width and color */
  border: 10px solid rgba(212, 95, 201, 0.833);
  padding: 20px;
  width: 125px;
  height: 125px;
}

.prod-img h4{
    margin: 20px 10px 20px 10px;
}

.prod-img a{
    text-decoration: none;
    color: red;
}

/* PortFolio - Section */

.portfolio {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    align-items: center;
    /* text-align: center; */
    padding: 50px;
}

.portfolio-left{
    position: relative;
    /* margin-right: 20px; */
    max-width: 50%;
    padding-left: 12%;
    margin-bottom: 20px;
    margin-right: 20px;
}

.portfolio-left img{
    position: absolute;
    top: -12px;
    left: 165px;
    z-index: -1;
    height: 30%;
}

.portfolio-left h1{
    /* display: inline-block; */
    margin-bottom: 40px;
    color: var(--primary-text-color);
}

.portfolio-left p {
    display: inline-block;
    max-width: auto;
    color: gray;
}

.portfolio-right{
    /* text-align: center; */
    height: auto;
    flex-wrap: wrap;
    max-width: 80%;
    display: flex;
}

.portfolio-right img{
    height: 200px;
    width: 50%;
}