@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #20262E;
    --blue-color: #AEE2FF;
    --nav-red-color: #F48484;
}

body {
    /* padding: 0 70px 0 70px; */
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

/* top - header Section  */
.top-header {
    display: flex;
    justify-content: space-around;
    background-color: var(--blue-color);
    padding: 17px;
}

.top-header p{
    display: inline;
    color: var(--primary-text-color);
    /* margin-left: 30px; */
}

/* Header - Section */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./images/props.png");
}

.header img {
    margin: 40px 0 40px 0;
}

/* Nav-Bar - Section */

.navbar {
    background-color: var(--nav-red-color);
    display: flex;
    justify-content: space-around;
    padding: 17px;
}

.navbar .nav-items {
    
}

.navbar .nav-items li{
    display: inline-block;
}

.navbar .nav-items li a{
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: bold;
    margin: 17px;
}

.social p {
    display: inline;
}

/* Home - Section */
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    background-image: url("./images/Layer_20.png");
    background-repeat: no-repeat;
    padding: 20px;
}

.home-left {
    max-width: 55%;
}

.home-left h1{
   display: inline-block;
   max-width: 73%;
   margin-bottom: 10px;
}

.home p{
    margin-top: 10px;
    display: inline-block;
}

.home-right img{
    height: 500px;
    width: auto;
}